.container
  %form.form-signin
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = devise_error_messages!
    %h2.form-signin-heading Please sign in
    .sr-only Email address
    = f.label
    #inputEmail.form-control
    = f.email_field autofocus: "", placeholder: "Email address", required: ""
    .sr-only Password
    = f.label
    #inputPassword.form-control
    = f.password_field placeholder: "Password", required: ""
    .checkbox
      %label
        = f.check_box :remember_me
        Remember me
    .button.btn.btn-lg.btn-primary.btn-block Sign in
    = f.submit
  .text-center
    %p
      Not a member?
      = link_to "Sign up now", new_user_registration_path
